@import "../../node_modules/bulma/bulma.sass";

.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
  
.ml-auto {
  margin-left: auto;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  padding: 1em;
  width: 100%;
}